.cartPage {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  position: relative;
}

.cartPage__products {
  flex: 1;
  position: relative;
}
.cartPage__total__container {
  position: sticky;
  top: 10rem;
}

@media screen and (max-width: 600px) {
  .cartPage {
    width: 100%;
    padding: 0;
    margin: auto;
  }
}
