.cartCard {
  background-color: white;
  display: flex;
  max-width: 35rem;
  gap: 0.8rem;
  padding: 0.5rem;
  margin: 1rem;

  border-radius: 5px;
  border: 1px solid var(--color-gray-one);
  box-shadow: var(--box-shadow);
}

.cartCard__img {
  width: 120px;
  max-width: 100%;
  position: relative;
  object-fit: contain;
}

.cartCard__img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cartCard__desp {
  flex: 1;
  justify-content: space-between;
  display: flex;

  flex-direction: column;
}

.cartCard__desp__container > .heading {
  font-size: 1.1rem;
  font-weight: 600;
}

.cartCard__desp__container > p {
  font-size: 0.9rem;
}
.cartCard__desp__price {
  display: flex;
  margin: 0.5rem 0;
  gap: 0.5rem;
  align-items: center;
}
.cartCard__desp__price > span {
  text-decoration: line-through;
}
.cartCard__desp__price > h2 {
  font-size: 1rem;
}

.cartCard__desp__price > h3 {
  color: var(--color-pink);
}
.cartCard__desp__buttons {
  display: flex;

  justify-content: space-between;
}

.cartCard__desp__btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cartCard__desp__btn > button {
  background-color: white;
  border: 1px solid var(--color-gray-one);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.cartCard__desp__buttons > button {
  border: none;
  background-color: transparent;
  color: rgb(98, 97, 97);
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 3px;
  width: fit-content;
  font-size: 1rem;
  margin: 0 0 0 0.5rem;
  border: 3px solid var(--color-gray-one);
}
.cartCard__img__icon {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgb(246, 48, 97);
  width: 2rem;
  height: 2rem;
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.cartCard__img__icon > .icon {
  color: gray;
  cursor: pointer;
}

.cartCard__img__icon > .cartCard__red {
  color: red;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .cartCard {
    width: 20rem;
    flex-wrap: wrap;
  }
  .cartCard__img {
    width: 100%;
  }
  .cartCard__desp__container .heading {
    font-size: 1rem;
  }
}
