.productCard {
  position: relative;
  margin: 1rem;
  max-width: 200px;
  box-shadow: var(--box-shadow);
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  flex-direction: column;
  outline: 1px solid var(--color-gray-one);
  flex-basis: calc(33.3% - 1rem);
}

.productCard__img {
  width: 100%;
  position: relative;

  margin: auto;
  flex-shrink: 1;
  object-fit: contain;
}
.productCard__img > img {
  width: 100%;
  /* height: 15rem; */

  object-fit: contain;
}

.productCard__img__icon {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid gainsboro;
  width: 2rem;
  height: 2rem;
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
.productCard__img__icon > .icon {
  color: gray;
  cursor: pointer;
}

.productCard__details {
  display: flex;
  flex-direction: column;
}
.productCard__details__desp > h2 {
  font-size: 1.5rem;
}

.productCard__details__price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.productCard__details__price > h2 {
  font-size: 1.2rem;
  color: var(--color-black);
}

.productCard__details__price > span {
  text-decoration: line-through;
  font-size: 0.9rem;
}

.productCard__details__price > h3 {
  color: var(--color-pink);
}

.productCard__details > button {
  border: none;
  display: flex;
  background-color: var(--color-pink);
  align-items: center;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  width: fit-content;
  font-size: 1rem;
  margin: 0.5rem 0rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .productCard {
    flex-basis: calc(50% - 1rem);
  }
}

@media screen and (max-width: 600px) {
  .productCard {
    min-width: 100%;
  }
}
