.productCard {
  position: relative;
  max-width: 280px;
  background-color: white;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  flex-direction: column;
  outline: 1px solid rgb(220, 220, 220);
  flex-basis: calc(33.3% - 1rem);
}

.productCard__img {
  width: 170px;
  position: relative;
  margin: auto;
  flex-shrink: 1;
  object-fit: contain;
}
.productCard__img > img {
  width: 100%;
  object-fit: contain;
}

.productCard__img__icon {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid rgb(246, 48, 97);
  width: 2rem;
  height: 2rem;
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}
.productCard__img__icon > .wishlist__red {
  color: red;
}
.productCard__img__icon > .icon {
  color: gray;
  cursor: pointer;
}

.productCard__details {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.productCard__details__desp > h3 {
  font-size: 1rem;
  font-weight: 600;
}

.productCard__details__price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.productCard__details__price > h2 {
  font-size: 1rem;
  color: var(--color-black);
}

.productCard__details__price > span {
  text-decoration: line-through;
  font-size: 0.9rem;
}

.productCard__details__price > h3 {
  color: var(--color-pink);
  font-size: 1rem;
}

.productCard__details > button {
  border: none;
  display: flex;
  background-color: var(--color-pink);
  align-items: center;
  color: white;
  padding: 0.3rem;
  border-radius: 3px;
  width: fit-content;
  font-size: 1rem;
  margin: 0.5rem 0rem;
  cursor: pointer;
}

.productCard__details > .btn__cart {
  background-color: white;
  border: 2px solid var(--color-pink);
  color: var(--color-pink);
}
@media screen and (max-width: 800px) {
  .productCard {
    flex-basis: calc(50% - 1rem);
  }
}

@media screen and (max-width: 600px) {
  .productCard {
    min-width: 100%;
  }
}
