.productlisting {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem;
  outline: 1px solid red;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.productlisting__products {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
