.wishlistCard {
  display: flex;
  width: 50rem;
  /* max-height: 18rem; */
  gap: 0.5rem;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-gray-one);
  box-shadow: var(--box-shadow);
}

.wishlistCard__img {
  width: 27.5%;
  position: relative;
  flex-shrink: 1;
  object-fit: contain;
}

.wishlistCard__img > img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}
.wishlistCard__img__icon {
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
  position: absolute;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 1px solid white;
}

.wishlistCard__desp {
  flex: 1;
  max-height: 30rem;
  display: flex;
  margin: 0 0.5rem 0.5rem 0.5rem;
  justify-content: space-between;
  flex-direction: column;
  /* outline: 1px solid black; */
}

.wishlistCard__desp__price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.wishlistCard__desp__price > span {
  text-decoration: line-through;
}
.wishlistCard__desp__price > h3 {
  color: var(--color-pink);
}
.wishlistCard__delete__icon {
  background-color: white;
  border: none;
  color: rgb(77, 76, 76);
}

.wishlistCard__desp__btn > button {
  background-color: var(--color-pink);
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1rem;
  border-radius: 3px;
  font-weight: bold;
}
